<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <title>Справочник | Афиша-Медиа</title>
        <link
            href="https://fonts.googleapis.com/css?family=Montserrat:400,500,500i,600"
            rel="stylesheet"
            media="all and (min-width: 960px)"
        />
    </head>

    <body>
        <div class="sticky-footer">
            <header id="header" class="header">
                <nav class="navbar" aria-label="main navigation">
                    <div class="container">
                        <div class="navbar-brand">
                            <a class="navbar-item" href="/">
                                <img src="images/logo.png" width="189" height="40" alt="" />
                            </a>
                            <a
                                role="button"
                                class="navbar-burger burger"
                                aria-label="menu"
                                aria-expanded="false"
                                data-target="navbar-menu"
                            >
                                <span aria-hidden="true"></span> <span aria-hidden="true"></span>
                                <span aria-hidden="true"></span>
                            </a>
                        </div>
                        <!-- /.navbar-brand -->
                        <div id="navbar-menu" class="navbar-menu">
                            <div class="navbar-end nav-menu is-flex-touch">
                                <div class="navbar-item nav-item is-tab">
                                    <a href="calc.html" class="nav-link">Онлайн-калькулятор</a>
                                </div>
                                <div class="navbar-item nav-item is-tab is-active">
                                    <a href="directory.html" class="nav-link">Справочник</a>
                                </div>
                                <div class="navbar-item nav-item is-tab">
                                    <a href="contacts.html" class="nav-link">Контакты</a>
                                </div>
                                <div class="navbar-item nav-item is-tab">
                                    <a href="#" class="nav-link">Прайс</a>
                                </div>
                                <div class="navbar-item nav-item is-tab">
                                    <a href="cart.html" class="nav-link level is-mobile">
                                        <div class="level-left is-mobile">
                                            <svg
                                                viewBox="28.500001907348633 37.5 142.99899291992188 124.99998474121094"
                                                height="25"
                                                width="28"
                                                xmlns="http://www.w3.org/2000/svg"
                                                data-type="color"
                                                role="img"
                                                preserveAspectRatio="xMidYMid meet"
                                            >
                                                <g>
                                                    <path
                                                        d="M93.331 142.92c-5.392 0-9.78 4.392-9.78 9.79 0 5.399 4.388 9.79 9.78 9.79 5.392 0 9.779-4.392 9.779-9.79 0-5.399-4.387-9.79-9.779-9.79z"
                                                        fill="#00303f"
                                                        data-color="1"
                                                    ></path>
                                                    <path
                                                        d="M129.502 142.92c-5.392 0-9.779 4.392-9.779 9.79 0 5.399 4.386 9.79 9.779 9.79 5.392 0 9.78-4.392 9.78-9.79 0-5.399-4.387-9.79-9.78-9.79z"
                                                        fill="#00303f"
                                                        data-color="1"
                                                    ></path>
                                                    <path
                                                        d="M63.386 66.861c-.19 0-.377.012-.561.037l-5.34-17.343-28.696-11.967c-.095-.039-.192-.056-.289-.088v9.113l22.092 9.212 23.849 77.455h76.515l20.543-66.42H63.386zm81.355 57.977H80.665L65.414 75.304h94.648l-15.321 49.534z"
                                                        fill="#00303f"
                                                        data-color="1"
                                                    ></path>
                                                </g>
                                            </svg>
                                            <div
                                                class="link-sum link-sum--right is-size-5 has-text-link has-text-right"
                                            >
                                                <span class="link-sum__number">0</span> руб
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="navbar-item nav-item is-tab">
                                    <a href="#" class="nav-link nav-link--secondary is-size-6"
                                        >name@domen.ru</a
                                    >
                                </div>
                            </div>
                        </div>
                        <!-- /.navbar-menu -->
                    </div>
                    <!-- /.container -->
                </nav>
                <!-- /.navbar -->
            </header>
            <!-- /.header -->
            <main class="main">
                <div class="container">
                    <div class="infoblock content has-background-light"><h1>Стенды и таблички</h1></div>
                    <div class="section">
                        <div class="columns">
                            <div class="column is-10 is-offset-1">
                                <aside class="menu content-block">
                                    <ul class="menu-list">
                                        <li><a href="#anchor-section-1">Виды услуг</a></li>
                                        <li><a href="#anchor-section-2">Качество печати</a></li>
                                        <li><a href="#anchor-section-3">Материалы для печати</a></li>
                                        <li><a>Размеры изделия</a></li>
                                        <li><a>Поля</a></li>
                                        <li><a>Ламинация</a></li>
                                        <li><a>Резка плоттерная</a></li>
                                        <li><a>Проклейка периметра</a></li>
                                        <li><a>Карман</a></li>
                                        <li><a>Люверсы</a></li>
                                        <li><a>Тираж</a></li>
                                        <li><a>Цветопроба</a></li>
                                        <li><a>Материалы для основы</a></li>
                                        <li><a>Нанесение пленки</a></li>
                                        <li><a>Материал для изображения</a></li>
                                        <li><a>Изображение на пленке</a></li>
                                        <li><a>Подгиб пленки</a></li>
                                        <li><a>Скотч для монтажа</a></li>
                                        <li><a>Карман-файл</a></li>
                                    </ul>
                                </aside>
                                <!-- /.menu -->
                                <section id="anchor-section-1" class="section content">
                                    <div class="title--decoration"><h2 class="is-size-6">Виды услуг</h2></div>
                                    <h3 class="is-size-6">Широкоформатная печать</h3>
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                                        eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
                                        minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                                        aliquip ex ea commodo consequat. Duis aute irure dolor in
                                        reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
                                        pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
                                        culpa qui officia deserunt mollit anim id est laborum.
                                    </p>
                                    <h3 class="is-size-6">Интерьерная печать</h3>
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                                        eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
                                        minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                                        aliquip ex ea commodo consequat. Duis aute irure dolor in
                                        reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
                                        pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
                                        culpa qui officia deserunt mollit anim id est laborum.
                                    </p>
                                    <h3 class="is-size-6">Стенды и таблички</h3>
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                                        eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
                                        minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                                        aliquip ex ea commodo consequat. Duis aute irure dolor in
                                        reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
                                        pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
                                        culpa qui officia deserunt mollit anim id est laborum.
                                    </p>
                                </section>
                                <!-- /.section -->
                                <section id="anchor-section-2" class="section content">
                                    <div class="title--decoration">
                                        <h2 class="is-size-6">Качество печати</h2>
                                    </div>
                                    <h3 class="is-size-6">Стандартная широкоформатная печать</h3>
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                                        eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
                                        minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                                        aliquip ex ea commodo consequat. Duis aute irure dolor in
                                        reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
                                        pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
                                        culpa qui officia deserunt mollit anim id est laborum.
                                    </p>
                                    <h3 class="is-size-6">Улучшенная широкоформатная печать</h3>
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                                        eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
                                        minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                                        aliquip ex ea commodo consequat. Duis aute irure dolor in
                                        reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
                                        pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
                                        culpa qui officia deserunt mollit anim id est laborum.
                                    </p>
                                    <h3 class="is-size-6">High-speed интерьерная печать</h3>
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                                        eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
                                        minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                                        aliquip ex ea commodo consequat. Duis aute irure dolor in
                                        reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
                                        pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
                                        culpa qui officia deserunt mollit anim id est laborum.
                                    </p>
                                    <h3 class="is-size-6">Стандартная интерьерная печать</h3>
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                                        eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
                                        minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                                        aliquip ex ea commodo consequat. Duis aute irure dolor in
                                        reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
                                        pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
                                        culpa qui officia deserunt mollit anim id est laborum.
                                    </p>
                                    <h3 class="is-size-6">Улучшенная интерьерная печать</h3>
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                                        eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
                                        minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                                        aliquip ex ea commodo consequat. Duis aute irure dolor in
                                        reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
                                        pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
                                        culpa qui officia deserunt mollit anim id est laborum.
                                    </p>
                                    <h3 class="is-size-6">Супер интерьерная печать</h3>
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                                        eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
                                        minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                                        aliquip ex ea commodo consequat. Duis aute irure dolor in
                                        reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
                                        pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
                                        culpa qui officia deserunt mollit anim id est laborum.
                                    </p>
                                </section>
                                <!-- /.section -->
                                <section id="anchor-section-3" class="section content">
                                    <div class="title--decoration">
                                        <h2 class="is-size-6">Материалы для печати</h2>
                                    </div>
                                    <h3 class="is-size-6">Баннер Китай (330 гр/м2)</h3>
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                                        eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
                                        minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                                        aliquip ex ea commodo consequat. Duis aute irure dolor in
                                        reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
                                        pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
                                        culpa qui officia deserunt mollit anim id est laborum.
                                    </p>
                                    <h3 class="is-size-6">Баннер Китай (400 гр/м2)</h3>
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                                        eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
                                        minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                                        aliquip ex ea commodo consequat. Duis aute irure dolor in
                                        reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
                                        pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
                                        culpa qui officia deserunt mollit anim id est laborum.
                                    </p>
                                    <h3 class="is-size-6">Баннер Корея (440 гр/м2)</h3>
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                                        eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
                                        minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                                        aliquip ex ea commodo consequat. Duis aute irure dolor in
                                        reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
                                        pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
                                        culpa qui officia deserunt mollit anim id est laborum.
                                    </p>
                                    <h3 class="is-size-6">Баннер Канада (440 гр/м2)</h3>
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                                        eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
                                        minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                                        aliquip ex ea commodo consequat. Duis aute irure dolor in
                                        reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
                                        pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
                                        culpa qui officia deserunt mollit anim id est laborum.
                                    </p>
                                    <h3 class="is-size-6">Баннер Канада (500 гр/м2)</h3>
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                                        eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
                                        minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                                        aliquip ex ea commodo consequat. Duis aute irure dolor in
                                        reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
                                        pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
                                        culpa qui officia deserunt mollit anim id est laborum.
                                    </p>
                                </section>
                                <!-- /.section -->
                                <a href="#header" class="button to-top is-primary">В меню справочника</a>
                            </div>
                            <!-- /.column -->
                        </div>
                        <!-- /.columns -->
                    </div>
                    <!-- /.section -->
                </div>
                <!-- /.container -->
            </main>
            <!-- /.main -->
            <footer class="footer">
                <div class="container">
                    <p class="copyright is-size-7">&copy; 2007 - 2018, Афиша-Медиа, ООО</p>
                </div>
            </footer>
            <!-- /.footer -->
        </div>
        <!-- /.sticky-footer -->
    </body>
</html>
