<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <title>Главная | Афиша-Медиа</title>
        <link
            href="https://fonts.googleapis.com/css?family=Montserrat:400,500,500i,600"
            rel="stylesheet"
            media="all and (min-width: 960px)"
        />
    </head>

    <body>
        <section class="hero is-fullheight background-box">
            <img
                src="images/bg_home.jpg"
                class="background-box__image background-box__image--overlay is-hidden-mobile"
                alt=""
            />
            <header class="hero-head header">
                <nav class="navbar" aria-label="main navigation">
                    <div class="container is-block">
                        <div class="navbar-brand">
                            <a class="navbar-item" href="/">
                                <img src="images/logo.png" width="189" height="40" alt="" />
                            </a>
                            <a href="#" class="navbar-item callback-link callback-link--right">
                                <svg
                                    viewBox="0 0 1000 1000"
                                    id="phone"
                                    class="icon callback-icon is-hidden-tablet"
                                    xmlns="http://www.w3.org/2000/svg"
                                    width="22"
                                    height="22"
                                >
                                    <path
                                        d="M772.3 989.9c21.8 0 217.7-144.8 217.7-163.3S770.8 670 751.8 670s-82.6 76.3-99.8 84.8c-17.2 8.5-124.4 5.4-243.9-114-119.4-119.4-160.2-256.9-160.2-278.5 0-21.6 99.6-88.3 102.4-104C353 242.7 218.9 10 197.2 10 175.4 10 10 211 10 227.7s15.1 232.2 287.9 505c272.9 272.7 452.5 257.1 474.4 257.2z"
                                    ></path>
                                </svg>
                                <div class="callback-text is-hidden-mobile has-text-weight-semibold">
                                    (342) 257-62-93
                                </div>
                            </a>
                        </div>
                    </div>
                    <!-- /. is-block -->
                </nav>
                <!-- /.navbar -->
            </header>
            <!-- /.header -->
            <div class="hero-body">
                <div class="container">
                    <h1 class="title hero-title">
                        Широкоформатная и <br />
                        интерьерная печать
                    </h1>
                    <div class="columns">
                        <div class="column">
                            <div class="text-slider">
                                <div class="text-slide">
                                    <div class="text-slide-content">Онлайн-сервис для бизнеса</div>
                                </div>
                                <div class="text-slide">
                                    <div class="text-slide-content">
                                        Встроенный калькулятор – рассчитайте стоимость заказа за 10 секунд
                                    </div>
                                </div>
                                <div class="text-slide">
                                    <div class="text-slide-content">
                                        Оформите заявку на печать онлайн – заказ будет выполнен в течение 24
                                        часов
                                    </div>
                                </div>
                                <div class="text-slide">
                                    <div class="text-slide-content">
                                        Станьте нашим партнером до 31 октября и печатайтесь до конца года по
                                        специальным ценам &quot;для своих&quot;
                                    </div>
                                </div>
                            </div>
                            <!-- /.text-slider -->
                        </div>
                        <!-- /.column -->
                    </div>
                    <!-- /.columns -->
                    <div class="columns">
                        <div class="column login has-text-centered">
                            <div class="box login-box">
                                <form>
                                    <div class="field">
                                        <div class="control">
                                            <input
                                                class="input login-box__input"
                                                type="text"
                                                placeholder="Логин"
                                            />
                                        </div>
                                    </div>
                                    <div class="field">
                                        <p class="control login-box__control has-icons-right">
                                            <input
                                                class="input login-box__input"
                                                type="password"
                                                placeholder="Пароль"
                                            />
                                            <span class="icon login-box__input-icon is-right">
                                                <svg
                                                    viewBox="30 54 140 92"
                                                    class="custom-icon"
                                                    height="30"
                                                    width="28"
                                                    xmlns="http://www.w3.org/2000/svg"
                                                    data-type="color"
                                                    role="img"
                                                    preserveAspectRatio="xMidYMid meet"
                                                >
                                                    <g>
                                                        <path
                                                            d="M100.001 146c-37.613 0-67.11-41.838-68.346-43.617L30 100.001l1.655-2.382C32.891 95.838 62.388 54 100.001 54c37.609 0 67.108 41.838 68.346 43.619l1.653 2.382-1.653 2.381C167.109 104.162 137.61 146 100.001 146zm-59.63-46.001c6.667 8.611 31.243 37.619 59.63 37.619 28.382 0 52.955-29.001 59.627-37.617-6.67-8.615-31.245-37.619-59.627-37.619-28.441 0-52.97 28.997-59.63 37.617z"
                                                            data-color="1"
                                                        ></path>
                                                        <path
                                                            d="M100.001 122.857c-12.681 0-22.996-10.25-22.996-22.854 0-12.606 10.316-22.861 22.996-22.861s22.996 10.255 22.996 22.861c0 12.604-10.315 22.854-22.996 22.854zm0-37.332c-8.031 0-14.564 6.496-14.564 14.478 0 7.98 6.533 14.474 14.564 14.474 8.032 0 14.564-6.494 14.564-14.474 0-7.982-6.532-14.478-14.564-14.478z"
                                                            data-color="1"
                                                        ></path>
                                                    </g>
                                                </svg>
                                            </span>
                                        </p>
                                    </div>
                                    <div class="field">
                                        <div class="control">
                                            <button
                                                type="button"
                                                class="button is-primary is-large is-fullwidth"
                                            >
                                                Войти
                                            </button>
                                        </div>
                                    </div>
                                    <a
                                        href="#modal-2"
                                        class="button is-text is-small is-secondary modal-button"
                                        >Забыли <br />логин или пароль?</a
                                    >
                                </form>
                            </div>
                            <!-- /.login-box -->
                            <div class="field">
                                <a href="#modal-1" class="button is-text is-small modal-button"
                                    >Зарегистрироваться</a
                                >
                            </div>
                            <a href="#" class="button is-primary is-large is-fullwidth">Войти без пароля</a>
                            <p class="help login-box__help has-text-left">
                                Зарегистрированные пользователи получают цены на 10 руб ниже за каждый м2
                                печати на любом материале в любом качестве
                            </p>
                        </div>
                        <!-- /.column -->
                    </div>
                    <!-- /.columns -->
                </div>
                <!-- /.container -->
            </div>
            <!-- /.hero-body -->
            <footer class="hero-foot footer">
                <div class="container">
                    <p class="copyright is-size-7">
                        &copy; 2007 - 2018, Афиша-Медиа, ООО <br />614068, Россия, г. Пермь, ул. Сергея
                        Данщина, дом 5, строение 2
                    </p>
                </div>
            </footer>
            <!-- /.footer -->
        </section>
        <!-- /.hero -->
        <div id="modal-1" class="modal">
            <div class="modal-background"></div>
            <div class="modal-content modal-content--with-bottom">
                <div class="content has-text-weight-semibold">
                    <h2>Регистрация</h2>
                    <br />
                    <p>Внесите, пожалуйста, свои контактные данные, мы свяжемся с Вами в ближайшее время</p>
                </div>
                <form>
                    <div class="columns is-multiline is-variable is-8-tablet">
                        <div class="column is-half-tablet">
                            <div class="control">
                                <input class="input" type="text" placeholder="Организация" />
                            </div>
                        </div>
                        <div class="column is-half-tablet">
                            <div class="control"><input class="input" type="text" placeholder="Имя" /></div>
                        </div>
                        <div class="column is-half-tablet">
                            <div class="control">
                                <input class="input" type="text" placeholder="Телефон +7-987-654-32-10" />
                            </div>
                        </div>
                        <div class="column is-half-tablet">
                            <div class="control">
                                <input class="input" type="text" placeholder="E-mail" />
                            </div>
                        </div>
                    </div>
                    <!-- /.columns -->
                    <div class="modal-bottom modal-bottom--fixed">
                        <div class="columns is-mobile is-variable is-5-tablet">
                            <div class="column is-narrow">
                                <button type="button" class="button is-primary">Отправить</button>
                            </div>
                            <div class="column is-narrow">
                                <button type="reset" class="button is-outlined is-secondary-hover">
                                    Отменить
                                </button>
                            </div>
                        </div>
                        <!-- /.columns -->
                    </div>
                    <!-- /.modal-bottom -->
                </form>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal -->
        <div id="modal-2" class="modal">
            <div class="modal-background"></div>
            <div class="modal-content modal-content--with-bottom modal-content--secondary">
                <div class="content has-text-weight-semibold">
                    <h2>Восстановление пароля</h2>
                    <br />
                    <p>
                        Мы забыли свой пароль для входа на сайт afisha-media.ru. Напомните нам его,
                        пожалуйста)
                    </p>
                </div>
                <form>
                    <div class="columns">
                        <div class="column is-half">
                            <div class="columns is-multiline">
                                <div class="column is-full">
                                    <div class="control">
                                        <input class="input" type="text" placeholder="E-mail" />
                                    </div>
                                </div>
                                <div class="column is-full">
                                    <div class="control">
                                        <input
                                            class="input"
                                            type="text"
                                            placeholder="Телефон +7-987-654-32-10"
                                        />
                                    </div>
                                </div>
                            </div>
                            <!-- /.columns -->
                        </div>
                        <!-- /.column -->
                    </div>
                    <!-- /.columns -->
                    <div class="modal-bottom modal-bottom--fixed">
                        <div class="columns is-mobile is-variable is-5-tablet">
                            <div class="column is-narrow">
                                <button type="button" class="button modal-button modal-button-3 is-primary">
                                    Отправить
                                </button>
                            </div>
                            <div class="column is-narrow">
                                <button type="reset" class="button is-outlined is-secondary-hover">
                                    Отменить
                                </button>
                            </div>
                        </div>
                        <!-- /.columns -->
                    </div>
                    <!-- /.modal-bottom -->
                </form>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal -->
        <div id="modal-3" class="modal">
            <div class="modal-background"></div>
            <div class="modal-content modal-content--with-bottom modal-content--primary">
                <div class="content has-text-weight-semibold">
                    <h2>Восстановление пароля</h2>
                    <br />
                    <p>На указанный Вами e-mail, отправлена информация для восстановления пароля</p>
                </div>
                <div class="modal-bottom modal-bottom--fixed">
                    <a href="index.html" class="button is-primary">Вернуться на главную</a>
                </div>
                <!-- /.modal-bottom -->
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal -->
    </body>
</html>
