.category {
    align-items: stretch;
    margin-bottom: rem-calc(22);
    height: rem-calc(180);
    border-radius: $radius;
    background-color: $primary;
    box-shadow: rgba($black, 0.65) 0px 4px 10px 1px;
    transition: all $speed $easing;
    &:hover,
    &:focus {
        background-color: darken($primary, 10%);
        box-shadow: rgba($black, 0.65) 0px 2px 2px 1px;
    }
    @include desktop {
        height: rem-calc(250);
    }
}
.category--inactive {
    position: relative;
    background-color: $background;
    &:hover,
    &:focus {
        background-color: $border-hover;
        .category-content {
            opacity: 0;
        }
        .category-overlay {
            opacity: 1;
        }
    }
}
.category-content,
.category-overlay {
    padding: 1rem;
    transition: all 0.5s $easing;
}
.category-overlay {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    &:not(:last-child) {
        margin: 0;
    }
}
.category-content {
    flex-shrink: 1;
}
